.banner {
  margin-top: 0;
  padding: 260px 0px 350px 0px;
  background-image: url('../assets/img/bg-image.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.background-overlay {
  background-color: transparent;
  background-image: linear-gradient(180deg, #00142cd6 15%, #00142c 100%);
  opacity: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.banner-main-text {
  margin-top: 12.5rem;
}
.banner h1 {
  font-size: 55px;
  font-weight: 700;
}
.banner p {
  padding-right: 5rem;
  color: #828fa0;
  width: 96%;
}
.banner img {
  margin-top: 6.875rem;
  animation: slideIn 1.5s ease-in-out;
}

.wrap {
  color: var(--color-green);
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@media (max-width: 991px) and (min-width: 751px) {
  .banner p {
    padding: 0;
  }
  .banner-main-text {
    margin-top: 6.25rem;
  }
}
