.company {
  animation: fadeInDown 2s;
  background-color: var(--color-blue-primary);
}
.company span {
  color: var(--color-green);
  position: relative;
  top: -5px;
}
.company h2 {
  font-size: 30px;
}
.company img {
  width: 140px;
  filter: brightness(200%) contrast(200%) saturate(0%) blur(0px)
    hue-rotate(0deg);
  transition-duration: 0.25s;
}
.company img:hover {
  filter: none;
}
.companies-container {
  margin-left: 100px;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
