.key-figures {
  background-color: var(--color-blue-secondary);
  animation: fadeInUp 2s;
}

.icon-animation {
  color: var(--color-green);
}

.highlights {
  animation: fadeInUp 2s;
}

.number-animation {
  transition: all 1s ease-in-out;
}

.figure-row {
  padding-left: 6.25em;
}

.super {
  color: var(--color-green);
  left: 5px;
  vertical-align: super;
}
